{
	padding: 0;
	margin: 0;
	border: 0;
	/*list-style: none;*/
	/*text-decoration: none;*/
}
.header_div_list{
	text-decoration: none;
	padding-left: 57%;
}
#header{
    height: 30px;
    width: 100%;
    background-color: #2F2F2F;
    font-size: 12px;
    line-height: 30px;
}
#header li{
	list-style: none;
    float: left;
    margin-left: 15px;
}
#header li span{
    color: #8B8B8B;
}
#header li a{
    color: #B5B5B5;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}
#header li a:hover{
	text-decoration: underline;
    color: #00FF66;
}
.header_mid{
	padding-top: 10px;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #DDDDDD;
	position: relative;
}
.logo_img{
	width: 170px;
	height: 50px;
	margin-left:140px;
	
}
.header_mid_div{
	width: 700px;
	height: 50px;
	position: absolute;
	top: 1px;
	left: 120px;
	margin-left: 180px;
	font-family: "新宋体";
	font-size: 24px;
}
.list_1{
	float: left;
	list-style: none;
	padding-left: 60px;
}
.list_1 a{
	text-decoration: none;
	color: #333333;
}
.list_1 a:hover{
	background: #31C27C;
}
#search{
	position: absolute;
	top: 14px;
	left: 1180px;
	width: 60px;
	height: 50px;
}
#search .text{
    color: #C3C3C3;
    margin-top: 12px;
    margin-left: 18px;
    border: 0px;
    width: 170px;
    border: 1px solid #C3C3C3;
    height: 24px;
}
#search .button{
	position: absolute;
	left: 165px;
	top:14px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(../img/搜索按钮.jpg) no-repeat ;
}
/*.search_logo{
	cursor: pointer;
	position: absolute;
	left: 1210px;
	top:29px;
}*/
ul{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}

.right{float: right;}
#search ul{
	margin: 0 auto;
	}
#search li{
	float: left;
	padding: 0px 10px 6px 0px;
}
.right .ul00{position:relative;}
.right #ul01{
	cursor: pointer;
	width: 146px;
	display: none;
	position: absolute;
	left: 18px;
	top: 40px;
	background-color: #FFF;
	border-color: #EEE;
}
.right #ul01 a{
	display: block;
	padding: 0 10px;
	line-height: 28px;
	color: #6C6C6C;
}
.right #ul01 a:hover{background: #31C27C;}

.header_nav{
	width: 100%;
	height: 45px;
	font-size: 16px;
	font-family: "微软雅黑";
}
.nav_list{
	padding-left: 250px;
	background: white;
}
.nav_list .red{
	
	color:#31C27C;
}
.nav_list li{
	float: left;
	padding-left: 4%;
}
.list a{
	color: black;
}
.list a:hover{
	color: green;
}

.main{
	border: 1px solid #61605C;
	widows: 100%;
	height: 400px;
	background-image: url(../img/bg_singer.jpg);	
}
.main h1{
	letter-spacing: 1px;
	color: white;
	padding-top: 80px;
	padding-left: 400px;
	font-size: 60px;
	font-family: "新宋体";
}
.main h3{
	color: white;
	font-family: "宋体";
	font-size: 26px;
	margin-top: -20px;
	padding-top: 0px;
	padding-left: 535px;
}
.main .main_landing{
	filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5; /*背景透明*/
	margin-top: 35px;
	margin-left: 600px;
	width: 125px;
	height: 50px;
	border: 1px solid white;
	
}
.main_landing p{
	color: white;
	font-size: 22px;
	font-family: "新宋体";
	margin-left: 17px;
	margin-top: 14px;
}
.main_landing a{
	color: white;
}

.songer_list_all{
	position:relative
	width: 100%;
	height: 1220px;
	border: 1px solid white;
}
.songer_list_all ._songer{

	margin-left: 80px;
	margin-top: 40px;
	width: 1200px;
	height: 180px;
	border: 1px solid white;
}
._songer .area_list1{
	font-size: 14px;
	padding-left: 20px;
	padding-right: 120px;
}
._songer,.area_list2,.area_list3,.area_list4{
	font-size: 14px;
	padding-left: 20px;
}
._songer .green{
	font-size: 16px;
	width: 30px;
	height: 20px;
	color: white;
	background-color: #31C27C;
}

._songer .area_list1 a,.area_list2 a,.area_list3 a,.area_list4 a{
	color: #333333;
}
._songer .area_list1 a:hover,.area_list2 a:hover,.area_list3 a:hover,.area_list4 a:hover{
	color: #31C27C;
}
.songer_ranging{
	height: 460px;
	border: 1px solid white;
}

/*图片旋转*/

.songer_ranging img:hover{
	transform:rotate(360deg) translate(5px) scale(1.2);
    transition: all 2s linear;
	cursor: pointer;
}
.songer_img_list li{
	
	margin-right: 20px;
	margin-left: 76px;
	float: left;
}
.songer_img_list  li p{
	text-align: center;
	margin-left: -30px;
	font-family: 15px;
	margin-top: 20px;
	margin-right: -30px;
	font-size: 18px;
	/*padding-left: -30px;*/
}
.songer_img_list_2 li{
	float: left;
	margin-right: 20px;
	margin-left: 76px;
}
.songer_img_list_2 li p{
	text-align: center;
	margin-left: -30px;
	font-family: 15px;
	margin-top: 20px;
	font-size: 18px;
	margin-right: -30px;
}
.songer_img_list li a,.songer_img_list_2 li a{
	color: #333333;
} 
.songer_img_list li a:hover,.songer_img_list_2 li a:hover{
	color: #31C27C;
}
.songerlist_1{
	margin-top: 10px;
	height: 500px;
	width: 180px;
	border: 1px solid white;
	margin-left: 40px;
}
.songerlist_1 li{
	font-size: 15px;
	color: #333333;
	padding-bottom: 18px;
	
}
.songerlist_1 li a{
	color: #333333;
}
.songerlist_1 li a:hover{
	color: #31C27C;
}
.songerlist_2{
	margin-top: -502px;
	height: 500px;
	width: 220px;
	border: 1px solid white;
	margin-left: 260px;
}
.songerlist_2 li{
	font-size: 15px;
	color: #333333;
	padding-bottom: 18px;
	
}
.songerlist_2 li a{
	color: #333333;
}
.songerlist_2 li a:hover{
	color: #31C27C;
}
.songerlist_3{
	margin-top: -502px;
	height: 500px;
	width: 250px;
	border: 1px solid white;
	margin-left: 530px;
}
.songerlist_3 li{
	font-size: 15px;
	color: #333333;
	padding-bottom: 18px;
	
}
.songerlist_3 li a{
	color: #333333;
}
.songerlist_3 li a:hover{
	color: #31C27C;
}
.songerlist_4{
	margin-top: -502px;
	height: 500px;
	width: 180px;
	border: 1px solid white;
	margin-left: 830px;
}
.songerlist_4 li{
	font-size: 15px;
	color: #333333;
	padding-bottom: 18px;
	
}
.songerlist_4 li a{
	color: #333333;
}
.songerlist_4 li a:hover{
	color: #31C27C;
}
.songerlist_5{
	margin-top: -502px;
	height: 500px;
	width: 220px;
	border: 1px solid white;
	margin-left: 1060px;
}
.songerlist_5 li{
	font-size: 15px;
	color: #333333;
	padding-bottom: 18px;
	
}
.songerlist_5 li a{
	color: #333333;
}
.songerlist_5 li a:hover{
	color: #31C27C;
}
.box{
	position: absolute;
	top:1750px;
	left: 460px;
	width: 520px;
	height: 40px;
	border: 1px solid white;
}
.box_all li{
	font-size: 18px;
	padding-right: 10px;
	margin-top: -15px;
	width: 40px;
	height: 40px;
	float: left;
	border: 1px solid white;
	margin-right: 5px;
	margin-left: -5px;
}
.box_1 a{
	color: white;
}
.box_1{
	line-height: 40px;
	text-align: center;
	background-color: #31C27C;
}
.box_2,.box_3,.box_4,.box_5,.box_6,.box_7{
	line-height: 40px;
	text-align: center;
	margin-right: 5px;
}
.box_2 a,.box_3 a,.box_4 a,.box_5 a,.box_6 a,.box_7 a{
	color: #ADC4ED;
}
/*.box_2 a:hover,.box_3 a:hover,.box_4 a:hover,.box_5 a:hover,.box_6 a:hover,.box_7 a:hover{
	background-color: ##31C27C;
}*/

.foot{
	margin-top: 1px;
	border: 1px solid red;
	position: relative;
	width: 100%;
	height: 620px;
	background-color: #333333;
}
.foot .foot_1{
	margin-top: 80px;
	margin-left: 140px;
	color: #999999;
	width: 200px;
	height: 30px;
	font-family: "微软雅黑";
	
}
.foot_img_list{
	height: 90px;
	width: 480px;
	margin-left: 140px;
	margin-top: 45px;
}
.foot_img_list li{
	float: left;
	margin-right: 80px;
	margin-bottom: 15px;
	margin-left: -37px;
	
}
.foot_img_list li p{
	margin-left: 6px;
	
}
.foot_img_list li p a{
	color: #7F998C;
	font-family: "微软雅黑";
}
.foot_img_list li p a:hover{
	color: #31C37C;
}
.foot_img_list .list_one img a:hover{

	color: #31C37C;
}
.list_three img{
	padding-left: 10px;
}
.open{
	margin-top: 50px;
	height: 120px;
	width: 520px;
	margin-left: 140px;
}
.open p{
	color: #7F998C;
}
.open .open_list li{
	margin-right: 110px;
	margin-left: -80px;
	float: left;
	margin-top: 40px;
}
.open .open_pt .open_list li a{
	color: #7F998C;
}
.open .open_pt .open_list li a:hover{
	color: #31C37C;
}
.foot_right{
	position: absolute;
	top: 80px;
	right: 30px;
	width: 480px;
	height: 350px;	
}
.foot_right .foot_right_list{
	width: 480px;
	height: 150px;
}
.ts{
	color: #7F998C;
	width: 200px;
	height: 30px;
	font-family: "微软雅黑";
}

.product .product_list li{
	float: left;
	margin-left: -40px;
	margin-top: 25px;
	margin-right: 85px;
}
.product .product_list li a{
	color: #7F998C;
}
.product .product_list li a:hover{
	color: #31C37C;
}
.together_bottom{
	
	height: 190px;
	width: 480px;
}
.together_bottom .parenter{
	margin: 20px;
	color: #7F998C;
	margin-top: 35px;
	margin-left: -0px;
}
.together_bottom .togehter{
	widows: 480px;
	height: 120px;
}
.p1{
	position: absolute;
	top: 225px;
	
	width: 120px;
	height: 100px;
}
.p1 a{
	color: #7F998C;
	margin-left: -40px;
	letter-spacing: 1px;
}
.p1 a:hover{
	color: #31C37C;
}
.p2{
	position: absolute;
	top: 225px;
	left: 160px;
	width: 120px;
	height: 100px;
}
.p2 a{
	color: #7F998C;
	margin-left: -40px;
	letter-spacing: 1px;
}
.p2 a:hover{
	color: #31C37C;
}
.p3{
	position: absolute;
	top: 225px;
	left:320px;
	width: 120px;
	height: 100px;
}
.p3 a{
	color: #7F998C;
	margin-left: -35px;
	letter-spacing: 1px;
}
.p3 a:hover{
	color: #31C37C;
}
.final{
	position: absolute;
	top: 450px;
	width: 100%;
	height: 170px;
}
.final p{
	padding-left: 310px;
	padding-top: 35px;
	color: #7F998C;
}
.final p a{
	font-size: 12px;
	color: #7F998C;
	letter-spacing: 1px;
}
.final p a:hover{
	color: #31C37C;
}
.final h5{
	font-family: "新宋体";
	color: #7F998C;
	padding-left: 465px;
}
.final h5 a{
	font-family: "新宋体";
	color: #7F998C;
}
.final h5 a:hover{
	color: #31C37C;
}
.finally{
	margin-top: -10px;
	color: #7F998C;
	margin-left: 515px;
	font-size: 12px;
}
.finally a{
	color: #7F998C;
}
.finally a:hover{
	color: #31C37C;
}
/*一个星星，两个星星，四个星星，一圈星星*/
/*图标水平反转*/
.foot_img_list img{
	-webkit-transition: -webkit-transform 1s,height 1s,width 1s;
}
.foot_img_list img:hover{
	-webkit-transform: rotateY(-360deg);
}